.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;

  &:active {
    opacity: 0.9;
  }
}

@font-face {
  font-family: "AirbnbCereal-Medium";
  src: url("../../assets/fonts/AirbnbCereal-Medium.ttf");
}

@font-face {
  font-family: "AirbnbCereal-Bold";
  src: url("../../assets/fonts/AirbnbCereal-Bold.ttf");
}

@font-face {
  font-family: "AirbnbCereal-Book";
  src: url("../../assets/fonts/AirbnbCereal-Book.ttf");
}
