[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sanic = "*"
scikit-learn = "*"
chest = "*"

[requires]
python_version = "3.8"

[packages.knn]
editable = true
path = "./../.."

[packages.interactive_index]
editable = true
path = "./../../../interactive_index"
