[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-sslserver = "*"

[packages]
google-cloud-storage = "*"
Django = "==3.1.1"
Pillow = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-sslserver = "*"
uvicorn = "*"
psycopg2-binary = "*"
numpy = "*"
pycocotools = {git = "https://github.com/cocodataset/cocoapi.git", subdirectory = "PythonAPI"}

[requires]
python_version = "3.7"
